/* body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}

body {font-size:16px;}
*/

     .login-section {
        padding: 10em 0; }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto; }
        @media (min-width: 576px) {
          .container {
            max-width: 540px; } }
        @media (min-width: 768px) {
          .container {
            max-width: 720px; } }
        @media (min-width: 992px) {
          .container {
            max-width: 960px; } }
        @media (min-width: 1200px) {
          .container {
            max-width: 1140px; } }

        .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px; }

        .justify-content-center {
            -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
            justify-content: center !important; }

        .col-md-12 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%; }

        .col-lg-10 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
            max-width: 83.33333%; }

        .d-md-flex {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important; }
        
        .text-wrap {
            white-space: normal !important; }

        .p-4 {
            padding: 1.5rem !important; }

        .p-lg-5 {
            padding: 3rem !important; }

        .text-center {
            text-align: center !important; }
  
        .d-flex {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important; }

        .align-items-center {
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important; }

        .order-md-last {
            -webkit-box-ordinal-group: 14;
            -ms-flex-order: 13;
            order: 13; }

        .w-100 {
            width: 100% !important; }

        .login-wrap {
            position: relative;
            background: #fff; }

        .label {
            display: inline-block;
            margin-bottom: 0.5rem;
            margin-left: -12rem; }
            
        .mb-3 {
            margin-bottom: 1rem !important; }

            .form-group {
                position: relative; }
                .form-group .label {
                  font-size: 12px;
                  text-transform: uppercase;
                  letter-spacing: 1px;
                  color: #000;
                  font-weight: 700; }
                .form-group a {
                  color: gray; }

        .text-left {
            text-align: left !important; }

        .text-right {
            text-align: right !important; }
 